<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minimo</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    {{> header/header}}
    {{> @partial-block}}
    {{> sidebar/sidebar}}
    {{> footer/footer}}
</body>
</html>