<aside class="sidebar">
    <div class="main_bottom_sidebar_photo">
        <div class="main_bottom_sidebar_photo_photo">
            <img src="./images/image2.png">
        </div>
    </div>
    <p class="main_bottom_sidebar_about-me">About me</p>
    <p class="main_bottom_sidebar_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor
        incididunt ut labore et dolore magna aliqua.</p>
    <p class="main_bottom_sidebar_postlist_sign">Top posts</p>
    <ul class="main_bottom_sidebar_postlist">
        <li class="postlist_item">
            <p class="postlist_item_container_title">A day exploring the Alps</p>
            <p class="postlist_item_container_comments">24 comments</p>
        </li>
        <li class="postlist_item">
            <p class="postlist_item_container_title">American dream</p>
            <p class="postlist_item_container_comments">19 comments</p>
        </li>
        <li class="postlist_item">
            <p class="postlist_item_container_title">Cold winter days</p>
            <p class="postlist_item_container_comments">15 comments</p>
        </li>
    </ul>
</aside>