<header class="main_header">
    <div class="header_links">
        <ul class="header_links_list">
            <li class="categories__item">
                <div class = "minimo_title">
                    <img class="categories__link" src="./images/minimø.png">
                </div>
            </li>
            <li class="categories__item">
                <a class="categories__link" href="./lifestyle.html">Lifestyle</a>
            </li>
            <li class="categories__item">
                <a class="categories__link" href="./photodiary.html">Photodiary</a>
            </li>
            <li class="categories__item">
                <a class="categories__link" href="./music.html">Music</a>
            </li>
            <li class="categories__item">
                <a class="categories__link" href="./travel.html">Travel</a>
            </li>
        </ul>
    </div>
</header>
<div class="content__big-image-container">
    <img class="content__big-image" src="./images/image1.png">
</div>