<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>workshop2</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div class="main">
    <div class="skills">
        <div class="skills_title">Skills</div>
        <ul class="skills_list">
            <li class="skills_list_element">
                <div class="skills_list_element_text">Communication</div>
                <div class="skills_list_element_content skills_list_element_1"></div>
            </li>
            <li>
                <div class="skills_list_element_text">Creativity</div>
                <div class="skills_list_element_content skills_list_element_2"></div>
            </li>
            <li>
                <div class="skills_list_element_text">Teamwork</div>
                <div class="skills_list_element_content skills_list_element_3"></div>
            </li>
            <li>
                <div class="skills_list_element_text">Organization</div>
                <div class="skills_list_element_content skills_list_element_4"></div>
            </li>
            <li>
                <div class="skills_list_element_text">Leadership</div>
                <div class="skills_list_element_content skills_list_element_5"></div>
            </li>
            <li>
                <div class="skills_list_element_text">Teamplayer</div>
                <div class="skills_list_element_content skills_list_element_6"></div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>