<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adventures_post</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Hind"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet">
</head>
<body>
<div class="post">
    <div class="post_image">
        <div class="post_image_logobox">
            <img class="post_image_logo" src="../images/logo.png">
        </div>
    </div>
    <div class="post_text">
        <p class="post_text_category">adventures</p>
        <p class="post_text_name">Awesome gallery post</p>
        <p class="post_text_date">January 19, 2016</p>
    </div>
    <div class="post_button">
        <div class="post_button_border">
        </div>
        <a class="post_button_link" href="./post_linkto.html">Read more</a>
        <div class="post_button_border">
        </div>
    </div>
    <div class="post_comments">
            <img class="post_comments_icon" src="../images/Icon.png">
            <a class="post_comments_link" href="./post_comments.html">02 comment</a>
    </div>
</div>
</body>
</html>