<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>7bits front-end</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="Field">
    <div class="Left">
        <div class="Photo">
            <img src="../images/logo.png" alt="Этот текст будет виден, если картинка не загрузится">
        </div>

    </div>
    <div class="Right">
        <div class="About_me">
            <p class="About_me_title">About me</p>
            <p class="About_me_text">I'm John Watson Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="Filler"></div>
    </div>
</div>
</body>
</html>